@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

section {
    background-color: rgb(245, 245, 245);
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.red {
    color: rgb(167, 16, 16)
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

/*

LANDING PAGE

*/

#landing-page {
    height: 100vh;
}

/*

NAVIGATION

*/

nav {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1200px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#personal-logo {
    width: 75px;
    height: 75px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
    text-decoration: none;
}

.fa-circle-half-stroke {
    font-size: 20px;
}